# 파이썬 기초

#### 추천 참고자료
- 추천 사이트
    - <a href="https://wikidocs.net/book/1">점프투파이썬</a>
    - <a href="https://www.w3schools.com/sql/">w3schools.com</a>
    - <a href="https://datascienceschool.net/">데이터사이언스스쿨</a>

- 데이터 관련 책
    - <a href="http://book.naver.com/bookdb/book_detail.nhn?bid=10652749">밑바닥부터시작하는데이터과학</a>
    - <a href="http://book.naver.com/bookdb/book_detail.nhn?bid=12174889">파이썬라이브러리를활용한머신러닝</a>
    - <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=13300129">처음배우는데이터과학</a>
    - <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=15654202">데이터전처리대전</a>

## 1. 시멘틱
- 파이썬은 가독성과 명료성, 그리고 명백함을 강조한다. 어떤 사람들은 파이썬을 실행이 가능한 의사 코드라고 표현하기도 한다.

#### 들여쓰기(Indentation)
- R이나 C++, JAVA, Perl 같은 다른 많은 언어와는 달리 중괄호 대신 공백문자(탭이나 스페이스)를 사용해서 코드를 구조화 한다.

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

```python
a = 5; b = 6; c = 7
```

#### 모든 것은 객체

#### 주석

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### 함수와 객체 메서드 호출

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### 변수와 참조에 의한 전달

In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a.append(4)
b

[1, 2, 3, 4]

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### 동적 참조와 강한 타입

In [4]:
a = 5
type(a)

int

In [5]:
a = 'foo'
type(a)

str

In [6]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [7]:
a = 4.5
b = 2

In [8]:
# 문자열 포맷, 나중에 살펴볼 것이다.
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [9]:
a / b

2.25

In [11]:
a = 5

In [12]:
isinstance(a, int)

True

In [13]:
a = 5; b = 4.5

In [14]:
isinstance(a, (int, float))

True

In [15]:
isinstance(b, (int, float))

True

#### 속성과 메서드

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [16]:
a = 'foo'

In [17]:
a.split('o')

['f', '', '']

In [18]:
getattr(a, 'split')

#### 덕 타이핑

In [19]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [20]:
isiterable('a string')

True

In [21]:
isiterable([1, 2, 3])

True

In [22]:
isiterable(5)

False

#### 모듈 Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

import some_module
result = some_module.f(5)
pi = some_module.PI

from some_module import f, g, PI
result = g(5, PI)

import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### 이항연산자와 비교문

In [23]:
5 - 7

-2

In [24]:
12 + 21.5

33.5

In [25]:
5 <= 2

False

In [26]:
a = [1, 2, 3]
b = a
c = list(a)

In [27]:
a is b

True

In [28]:
a is not c

True

In [29]:
a == c

True

In [30]:
a = None

In [31]:
a is None

True

#### 뮤터블, 이뮤터블 객체

In [32]:
a_list = ['foo', 2, [4, 5]]

In [33]:
a_list[2] = (3, 4)

In [34]:
a_list

['foo', 2, (3, 4)]

In [35]:
a_tuple = (3, 5, (4, 5))

In [36]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## 2. 스칼라형

#### 숫자 자료형

In [37]:
ival = 17239871

In [38]:
ival ** 6

26254519291092456596965462913230729701102721

In [39]:
fval = 7.243

In [40]:
fval2 = 6.78e-5

In [41]:
3 / 2

1.5

In [42]:
3 // 2

1

#### 문자열

In [43]:
a = 'one way of writing a string'
b = "another way"

In [44]:
c = """
This is a longer string that
spans multiple lines
"""

In [45]:
c.count('\n')

3

In [46]:
a = 'this is a string'

In [47]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [48]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [49]:
a

'this is a string'

In [50]:
a = 5.6
s = str(a)
print(s)

5.6

In [51]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [52]:
s[:3]

'pyt'

In [53]:
s = '12\\34'
print(s)

12\34

In [54]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [55]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [56]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [57]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### 바이트와 유니코드

In [58]:
val = "español"
val

'español'

In [59]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [60]:
type(val_utf8)

bytes

In [61]:
val_utf8.decode('utf-8')

'español'

In [62]:
val.encode('latin1')

b'espa\xf1ol'

In [63]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [64]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [65]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [66]:
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

'this is bytes'

#### 불리언

In [67]:
True and True

True

In [68]:
False or True

True

#### 형 변환

In [69]:
s = '3.14159'

In [70]:
fval = float(s)

In [71]:
type(fval)

float

In [72]:
int(fval)

3

In [73]:
bool(fval)

True

In [74]:
bool(0)

False

#### None

In [75]:
a = None
a is None

True

In [76]:
b = 5
b is not None

True

def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [77]:
type(None)

NoneType

#### 날짜와 시간

In [78]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)

In [79]:
dt.day

29

In [80]:
dt.minute

30

In [81]:
dt.date()

datetime.date(2011, 10, 29)

In [82]:
dt.time()

datetime.time(20, 30, 21)

In [83]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [84]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [85]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [86]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [87]:
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [88]:
type(delta)

datetime.timedelta

In [89]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [90]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## 3 흐름 제어

#### if, elif, and else

if x < 0:
    print('It's negative')

if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

In [91]:
a = 5
b = 7
c = 8
d = 4
if a < b or c > d:
    print('Made it')

Made it

In [92]:
4 > 3 > 2 > 1

True

#### 삼단 표현

value = true if condition else false-expr

#* 일반적으로 IF ELSE 문의 사용
if condiition:
    value = true-expr
else:
    vale = false-edxpr

In [93]:
x = 5

In [94]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

#### for 반복문

for value in collection:
    # do something with value

sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [95]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

for a, b, c in iterator:
    # do something

#### while 반복문

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [96]:
range(10)

range(0, 10)

In [97]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [99]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i